<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>
    <main>
      <%- body %>
      <%- include('../partials/main') %>
    </main>
    <%- include('../partials/footer') %>
  </div>
</body>
</html>
